python1
python3.111
python
python3.11
configuration.ini
postgresql-16-main.log
/__pycache__/*
/.idea
/cogs/__pycache__
/cogs/__pycache__
cogs/__pycache__/textTools.cpython-311.pyc
cogs/__pycache__/campaignRegisterFunctions.cpython-311.pyc
cogs/__pycache__/errorFunctions.cpython-311.pyc
.idea/misc.xml
/.idea
.idea/workspace.xml
.idea/misc.xml
/.idea
.idea/workspace.xml
.idea/misc.xml
/.run
clone1.ini
official.ini
larry.ini
/celestial_audio
/blueprints
/tools/__pycache__
